---
title: undg
layout: layouts/home.njk
description: Geek stuff by undg.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div id="posts">
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
</div>
